:root {
    --primary-color: #7EBDC3;
    --secondary-color: #7A6263;
    --accent1-color: #C6DEA6;
    --accent2-color: #DFF2D8;
    --heading-font: "Fira Sans";
    --body-font: "Poppins";
}

/*
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px
}

.socialmedia a {
    text-decoration: none
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: white;
}

article {
    position: absolute;
    top: 350px;
    width: 100%;
    padding: 10px;
    text-align: left;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}