table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}

th,
td {
    border: 1px solid gray;
    padding: 0.5rem;
    text-align: center;
}

thead,
tfoot {
    background-color: black;
    color: white;
}