main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid darkcyan;
    padding: 1rem;
    background-color: aliceblue;
    color: #333;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid slategrey;
    text-align: center;
}