:root {
    --primary-color: rgb(141, 194, 232);
    --secondary-color: rgb(53, 9, 9);
    --padding: 10px;
}

nav {
    text-align: center;
    background-color: var(--primary-color);
    padding: var(--padding);
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0.5rem;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--secondary-color);
}

main img {
    width: 250px;
    height: auto;
    border: 2px solid var(--secondary-color);
    padding: 0;
    box-shadow: 10px 10px 5px gray;
}

p {
    padding: 0;
    color: var(--secondary-color)
}

aside {
    width: 20rem;
    margin: 10px;
    border: 1px solid var(--secondary-color);
    padding: var(--padding);
    background-color: #eee;
    color: var(--secondary-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    background-color: var(--primary-color);
    padding: var(--padding);
    border-top: 2px dashed var(--secondary-color);
    text-align: center;
    margin-top: 20px;
}