main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid darkcyan;
    padding: 1rem;
    background-color: aliceblue;
    color: #333;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid black;
    padding: 2px;
    box-shadow: 0 0 20px gray;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid slategrey;
    text-align: center;
}