nav {
    text-align: center;
    background-color: rgb(141, 194, 232);
    padding: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(53, 9, 9);
    padding: 0.5rem;
}

main {
    max-width: 840px;
}

h1 {
    color: rgb(53, 9, 9);
}

main img {
    width: 250px;
    height: auto;
    border: 2px solid black;
    padding: 0;
    box-shadow: 10px 10px 5px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dashed black;
    text-align: center;
}