*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    padding: 0.5rem;
    border-bottom: solid darkslategray;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid black;
    padding: 2px;
    box-shadow: 0 0 20px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    margin: 1rem;
}

aside h2 {
    position: absolute;
    top: 5px;
    left: 85px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid slategrey;
    text-align: center;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid darkcyan;
    padding: 1rem;
    background-color: aliceblue;
    color: #333;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}