* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 20px 10px 20px #333;
}

section {
    margin: 20px 0;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: #abe;
    font-size: 0.9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px 0;
    
}

footer{
    font-size: 0.9rem;
}